body {
    background-color: #00c787;
    display: flex;
    justify-content: center;
}
.操作面板 {
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 30px;
    margin-top:50px;
    border-radius: 20px;
    box-shadow:0 10px 20px rgba(0,0,0,0.3);
}
.輸入區域 {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}
.文字欄 {
    flex-grow :1;
    border:none;
    background-color: rgb(243, 242, 241);
    padding: 10px 15px;
    outline: none;
}
.按鈕 {
    background-color: #00c787;
    border: none;
    color:white;
    padding: 10px 15px;
    cursor:pointer;
}
.清單 {
    list-style: none;
    padding: 0;
}
.清單 li {
    display: flex;
    padding: 10px 0 ;
    border-bottom: 1px solid #d8cccc;
}
.清單 label {
    flex-grow: 1;
}
.打勾方塊 {
    margin-right: 15px;
}
.垃圾桶 {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
}
.垃圾桶:hover {
    opacity: 1;
}